.site, .site-nav {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 67.5rem;
}

:root {
  font-size: 100%;
  --site-flex-direction: column;
}
@media only screen and (min-width: 740px) {
  :root {
    font-size: 112.5%;
  }
}

h1 {
  font-size: 1.8rem;
  line-height: 1.25;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
@media only screen and (min-width: 740px) {
  h1 {
    font-size: 2rem;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.15;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
@media only screen and (min-width: 740px) {
  h2 {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.14;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
@media only screen and (min-width: 740px) {
  h3 {
    font-size: 1rem;
    line-height: 1.25;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.25;
  position: relative;
  margin: 0;
  padding-bottom: var(--body-bottom-padding, 0);
  min-height: 100%;
  color: #202c36;
  font: normal normal normal 1rem/1.5 'Source Sans Pro', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
@media only screen and (min-width: 740px) {
  body {
    font-size: 1rem;
    line-height: 1.375;
  }
}

a {
  text-decoration: none;
  color: #e3791c;
}
a:focus, a:hover {
  text-decoration: underline;
}

.home-logo {
  margin-right: 1rem;
  width: 6rem;
  height: 6rem;
}

.site {
  display: flex;
  position: relative;
  flex-direction: var(--site-flex-direction);
  padding: 0 1rem;
  height: auto;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.site-content {
  flex: 0 0 auto;
  padding: 0 0 0 var(--site-content-padding-left, 0);
  box-sizing: border-box;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-indent: -100vw;
}

.division-table {
  border-collapse: collapse;
  border-spacing: 0;
}
.division-table td, .division-table th {
  border: 1px solid;
  padding: 0.1875rem 0.3125rem;
}
.division-table td:nth-last-child(-n+2) {
  text-align: right;
}

.stonebrook-map {
  text-align: center;
}

.stonebrook-map__image {
  width: 15.625rem;
}

@media only screen and (min-width: 600px) {
  .stonebrook-map {
    text-align: left;
  }

  .stonebrook-map__image {
    width: 300px;
  }
}
@media only screen and (min-width: 740px) {
  :root {
    --body-bottom-padding: 9.72rem;
    --site-flex-direction: row;
    --site-content-padding-left: 2.22rem;
  }

  .site-content {
    flex: 0 0 calc(100% * 4/5);
  }
}
.site-header {
  position: relative;
  background: #202c36;
  height: 9.375rem;
}

.site-header__title {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  text-indent: calc(-100vw - 100%);
}
.site-header__title a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s all;
  background-image: url("../img/header-small.jpg");
  background-position: center;
  background-size: cover;
  mix-blend-mode: screen;
  filter: grayscale(100%) contrast(200%);
}
.site-header__title a:hover {
  mix-blend-mode: initial;
  filter: grayscale(0%);
}

@media only screen and (min-width: 740px) {
  .site-header__title a {
    background-image: url("../img/header.jpg");
  }
}
@media only screen and (min-width: 1080px) {
  .site-header__title {
    text-indent: initial;
  }
  .site-header__title a {
    display: block;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #c9d5df;
  }
  .site-header__title a:hover {
    text-decoration: none;
    color: #afc1d0;
  }

  .site-header {
    display: block;
    background: #202c36;
    padding: 3.25rem 0;
    max-width: 100%;
    height: auto;
  }
}
.site-nav {
  box-shadow: 0 2px 2px 0 rgba(32, 44, 54, 0.25);
}
.site-nav rect {
  transform: rotate(0) translate(0, 0);
  transform-origin: center;
  transition: transform .5s;
}
.site-nav.open rect:nth-child(1) {
  transform: rotate(-45deg) translate(0, 5px);
}
.site-nav.open rect:nth-child(2) {
  transform: rotate(45deg);
}
.site-nav.open rect:nth-child(3) {
  transform: rotate(-45deg) translate(0, -5px);
}
.site-nav.open .site-nav__list {
  height: 5.2rem;
}
.site-nav a {
  text-decoration: underline;
  color: #202c36;
}
.site-nav a:hover {
  text-decoration: none;
}

.site-nav__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: .5rem;
}
.site-nav__hamburger svg {
  margin-right: 0.25rem;
}

.site-nav__list {
  display: block;
  transition: height .5s;
  margin: 0;
  padding: 0 1rem;
  height: 0;
  overflow: hidden;
  list-style: none;
}
.site-nav__list li {
  margin: 0 .625rem;
}

@media only screen and (min-width: 401px) {
  .site-nav {
    box-shadow: none;
  }
  .site-nav::before {
    position: absolute;
    left: 50%;
    z-index: -1;
    margin-left: -50vw;
    background: #c9d5df;
    width: 100vw;
    height: 100%;
    content: '';
  }

  .site-nav__hamburger {
    display: none;
  }

  .site-nav__list {
    display: flex;
    justify-content: center;
    padding: .625rem 0;
    height: auto;
  }
}
.content-sidebar {
  flex: 0 0 auto;
  order: 1;
  box-sizing: border-box;
}
.content-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content-sidebar ul li {
  margin-bottom: 1.11rem;
}

@media only screen and (min-width: 740px) {
  .content-sidebar {
    flex: 0 0 calc(100% * 1/5);
    order: 0;
  }
}
.site-footer {
  position: relative;
  bottom: 0;
  background: #202c36;
  padding: 1.11rem 0;
  width: 100%;
  color: #c9d5df;
  box-sizing: border-box;
}

.footer-address {
  flex: 0 0 calc(100% * 4/5);
  padding-left: 0;
}

.footer-phone {
  flex: 0 0 calc(100% * 1/5);
  vertical-align: top;
}

@media only screen and (min-width: 740px) {
  .site-footer {
    position: absolute;
    height: 9.72rem;
  }

  .footer-address {
    padding-left: 1.11rem;
  }
}
.input-set__label {
  display: block;
  margin-right: 1rem;
  min-width: calc(80px - 1rem);
}

.input-set {
  margin: .277rem 0;
}

.input-set__label--checkbox {
  margin-left: .277rem;
  cursor: pointer;
}

.input-set__input--checkbox {
  cursor: pointer;
}

.input-set__textarea {
  width: 100%;
  max-width: calc(100% - .625rem);
}

.contact-form {
  position: relative;
  padding: 1.11rem 0 2.25rem;
  perspective: 187.5rem;
}

.contact-form__legend {
  display: inline-block;
  position: relative;
  top: .277rem;
  left: -1.11rem;
  margin: 0;
  padding: 0;
}

.contact-form__checkboxes {
  float: left;
  vertical-align: top;
}

.contact-form__fieldset {
  margin: .277rem 0;
  border: 0;
  padding: 0 1.11rem;
}

.contact-form__overlay {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateX(-90deg) translate(0, 500px);
  transform-origin: bottom;
  transition: transform .4s ease, opacity .4s ease;
  opacity: 0;
  border-radius: .277rem;
  background: rgba(223, 230, 236, 0.9);
}

.contact-form__inputs {
  border: 0;
  padding: 0;
  width: 100%;
}

.contact-form__inputs:disabled > *:not(.contact-form__overlay) {
  transition: filter .4s;
  filter: blur(0.277rem);
}
.contact-form__inputs:disabled .contact-form__overlay {
  transform: rotateX(0deg) translate(0, 0);
  opacity: 1;
}

@media only screen and (min-width: 740px) {
  .contact-form {
    padding: 1.11rem;
  }

  .contact-form__inputs {
    padding: 0;
    width: auto;
  }

  .input-set__label {
    display: inline-block;
    vertical-align: top;
  }

  .input-set__textarea {
    max-width: 32rem;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    cx: 12px;
    cy: 32px;
  }
  25% {
    transform: rotate(360deg);
    cx: 26px;
    cy: 32px;
  }
  50% {
    transform: rotate(720deg);
    cx: 26px;
    cy: 32px;
  }
  75% {
    transform: rotate(1080deg);
    cx: 12px;
    cy: 32px;
  }
  100% {
    transform: rotate(1440deg);
    cx: 12px;
    cy: 32px;
  }
}
.bgcircle {
  fill: rgba(0, 0, 0, 0.25);
}

.spinner {
  transform-origin: 2rem 2rem;
  animation: rotate 3.5s linear infinite;
  fill: #1473e6;
}

.news-article {
  clear: both;
  margin: .625rem 0 1.875rem;
  padding-bottom: 1.11rem;
  max-width: 37.5rem;
}
.news-article aside {
  float: left;
  margin-right: .625rem;
}
.news-article:not(:last-child) {
  border-bottom: 1px solid #c9d5df;
}
