<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ site.title }} | {{ page.title | smartify }}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  {% assign min = 0 %}{% assign max = 256 %}{% assign diff = max | minus: min %}{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/main.css?v={{ randomNumber }}">
  {% if page.scripts %}
    {% for script in page.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
  {% endif %}
</head>
