// Base Styles
:root {
  font-size: 16px;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

// Defaults for the body
body {
  box-sizing: border-box;
  color: #333;
  font: normal normal normal 1rem/1.5 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  padding-bottom: 9.72rem;
  position: relative;
}

a {
  color: rgb(49, 107, 158);
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.home-logo {
  height: 6rem;
  margin-right: 1rem;
  width: 6rem;
}

.site {
  max-width: 67.5rem;
  position: relative;
  height: auto;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
}

.clear {
  clear: both;
}

.site-content {
  flex: 0 0 calc(100% * 4/5);
  padding-left: 2.22rem;
  box-sizing: border-box;
}

.screen-reader-text {
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  text-indent: -100vw;
}

.division-table {
  border-collapse: collapse;
  border-spacing: 0;
  td, & th {
    border: 1px solid;
    padding: 3px .277rem;
  }
  td:nth-last-child(-n+2) {
    text-align: right;
  }
}

@media only screen and (max-width: 740px) {
  :root {
    font-size: 18px;
  }
  body {
    padding-bottom: 0;
  }
  .site {
    flex: 0 0 auto;
    flex-direction: column;
  }
  .site-content {
    padding: 0;
  }
}
