// Base Styles
:root {
  font-size: 18px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

// Defaults for the body
body {
  position: relative;
  margin: 0;
  padding-bottom: 0;
  min-height: 100%;
  color: #333;
  font: normal normal normal 1rem/1.5 "Source Sans Pro", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(49, 107, 158);

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.home-logo {
  margin-right: 1rem;
  width: 6rem;
  height: 6rem;
}

.site {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 67.5rem;
  height: auto;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.site-content {
  flex: 0 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-indent: -100vw;
}

.division-table {
  border-collapse: collapse;
  border-spacing: 0;

  td,
  & th {
    border: 1px solid;
    padding: 3px .277rem;
  }

  td:nth-last-child(-n+2) {
    text-align: right;
  }
}

.stonebrook-map {
  text-align: center;
}

.stonebrook-map__image {
  width: 250px;
}

@media only screen and (min-width: 600px) {
  .stonebrook-map {
    text-align: left;
  }

  .stonebrook-map__image {
    width: 300px;
  }
}

@media only screen and (min-width: 740px) {
  :root {
    font-size: 16px;
  }

  body {
    padding-bottom: 9.72rem;
  }

  .site {
    flex-direction: row;
  }

  .site-content {
    flex: 0 0 calc(100% * 4/5);
    padding-left: 2.22rem;
  }
}
