:root {
  @include type-decls(#{&});
  --site-flex-direction: column;
}

h1 {
  @include type-decls(#{&});
}

h2 {
  @include type-decls(#{&});
}

h3 {
  @include type-decls(#{&});
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

// Defaults for the body
body {
  @include type-decls(#{&});
  position: relative;
  margin: 0;
  padding-bottom: var(--body-bottom-padding, 0);
  min-height: 100%;
  color: color('body');
  font: normal normal normal 1rem / 1.5 map-get($font-families, 'sans-serif');
  font-weight: 400;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: color('link');

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.home-logo {
  margin-right: 1rem;
  width: 6rem;
  height: 6rem;
}

.site {
  @extend %site;
  display: flex;
  position: relative;
  flex-direction: var(--site-flex-direction);
  padding: 0 1rem;
  height: auto;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.site-content {
  flex: 0 0 auto;
  padding: 0 0 0 var(--site-content-padding-left, 0);
  box-sizing: border-box;
}

.screen-reader-text {
  position: absolute;
  width: 1px; // scss-lint:disable PropertyUnits
  height: 1px; // scss-lint:disable PropertyUnits
  overflow: hidden;
  text-indent: -100vw;
}

.division-table {
  border-collapse: collapse;
  border-spacing: 0;

  td,
  & th {
    border: 1px solid;
    padding: pxtorem(3px) pxtorem(5px);
  }

  td:nth-last-child(-n+2) {
    text-align: right;
  }
}

.stonebrook-map {
  text-align: center;
}

.stonebrook-map__image {
  width: pxtorem(250px);
}

@media only screen and (min-width: 600px) {
  // scss-lint:disable PropertyUnits
  .stonebrook-map {
    text-align: left;
  }

  .stonebrook-map__image {
    width: 300px;
  }
}

@media only screen and (min-width: map-get($breakpoints, 'medium')) {

  :root {
    @include sasstocssvar('body-bottom-padding', $footer-height);
    --site-flex-direction: row;
    --site-content-padding-left: 2.22rem;
  }

  .site-content {
    flex: 0 0 calc(100% * 4/5);
  }
}
