.site-footer {
  position: relative;
  bottom: 0;
  background: color('footer-bg');
  padding: 1.11rem 0;
  width: 100%;
  color: color('dark-color');
  box-sizing: border-box;
}

@media only screen and (min-width: map-get($breakpoints, 'medium')) {
  // scss-lint:disable PropertyUnits
  .site-footer {
    position: absolute;
    height: $footer-height;
  }

  .footer-address {
    padding-left: 1.11rem;
  }
}
