.site-footer {
  position: relative;
  bottom: 0;
  background: $footer-bg;
  padding: 1.11rem 0;
  width: 100%;
  color: $dark-color;
  box-sizing: border-box;
}

.footer-address {
  flex: 0 0 calc(100% * 4/5);
  padding-left: 0;
}

.footer-phone {
  flex: 0 0 calc(100% * 1/5);
  vertical-align: top;
}

@media only screen and (min-width: 740px) {
  // scss-lint:disable PropertyUnits
  .site-footer {
    position: absolute;
  }

  .footer-address {
    padding-left: 1.11rem;
  }
}
