.site-footer {
  position: relative;
  bottom: 0;
  background: linear-gradient(to bottom, #2b2b2b, #4c4c4c 100%) #4c4c4c;
  padding: 1.11rem 0;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}

.footer-address {
  flex: 0 0 calc(100% * 4/5);
  padding-left: 0;
}

.footer-phone {
  flex: 0 0 calc(100% * 1/5);
  vertical-align: top;
}

@media only screen and (min-width: 740px) {
  .site-footer {
    position: absolute;
  }

  .footer-address {
    padding-left: 1.11rem;
  }
}
