.site-header {
  position: relative;
  height: 9.375rem;
}

.site-header__title {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  text-indent: calc(-100vw - 100%);

  a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 1s filter;
    background-image: url('../img/header-small.jpg');
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }
  }
}

@media only screen and (min-width: 740px) {
  // scss-lint:disable PropertyUnits
  .site-header__title {
    a {
      background-image: url('../img/header.jpg');
    }
  }
}

@media only screen and (min-width: 1080px) {
  // scss-lint:disable PropertyUnits
  .site-header__title {
    text-indent: initial;

    a {
      display: block;
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      background: none;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .25rem;
      color: $header-link-color;

      &:hover {
        text-decoration: none;
        color: $header-link-hover-color;
      }
    }
  }

  .site-header {
    display: block;
    background: $body-color;
    padding: 3.25rem 0;
    max-width: 100%;
    height: auto;
  }
}
