.site-header {
  position: relative;
  background: color('body');
  height: 9.375rem;
}

.site-header__title {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  text-indent: calc(-100vw - 100%);

  a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s all;
    background-image: url('../img/header-small.jpg');
    background-position: center;
    background-size: cover;
    mix-blend-mode: screen;
    filter: grayscale(100%) contrast(200%);

    &:hover {
      mix-blend-mode: initial;
      filter: grayscale(0%);
    }
  }
}

@media only screen and (min-width: map-get($breakpoints, 'medium')) {
  // scss-lint:disable PropertyUnits
  .site-header__title {
    a {
      background-image: url('../img/header.jpg');
    }
  }
}

@media only screen and (min-width: map-get($breakpoints, 'large')) {
  // scss-lint:disable PropertyUnits
  .site-header__title {
    text-indent: initial;

    a {
      display: block;
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      background: none;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .25rem;
      color: color('header-link');

      &:hover {
        text-decoration: none;
        color: color('header-link-hover');
      }
    }
  }

  .site-header {
    display: block;
    background: color('body');
    padding: 3.25rem 0;
    max-width: 100%;
    height: auto;
  }
}
