.site-nav {
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 $box-shadow-color;
  max-width: 67.5rem;

  rect {
    transform: rotate(0) translate(0, 0);
    transform-origin: center;
    transition: transform .5s;
  }

  &.open {
    rect:nth-child(1) {
      transform: rotate(-45deg) translate(0, 5px);
    }

    rect:nth-child(2) {
      transform: rotate(45deg);
    }

    rect:nth-child(3) {
      transform: rotate(-45deg) translate(0, -5px);
    }

    .site-nav__list {
      height: 5.2rem;
    }
  }
}

.site-nav__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: .5rem;

  svg {
    margin-right: pxtorem(4px);
  }
}

.site-nav__list {
  display: block;
  transition: height .5s;
  margin: 0;
  padding: 0 1rem;
  height: 0;
  overflow: hidden;
  list-style: none;

  li {
    margin: 0 .625rem;
  }
}

@media only screen and (min-width: 401px) {
  // scss-lint:disable PropertyUnits
  .site-nav {
    box-shadow: none;
  }

  .site-nav__hamburger {
    display: none;
  }

  .site-nav__list {
    display: flex;
    justify-content: center;
    padding: .625rem 0;
    height: auto;
  }
}
