.site-nav {
  margin: 40px 0 0 0;
  flex: 0 0 33%;
  box-sizing: border-box;
}

.site-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.site-nav__list li:nth-child(2) {
  order: 1;
}
