.content-sidebar {
  flex: 0 0 auto;
  order: 1;
  box-sizing: border-box;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 1.11rem;
    }
  }
}

@media only screen and (min-width: 740px) {
  .content-sidebar {
    flex: 0 0 calc(100% * 1/5);
    order: 0;
  }
}
